.vs/
*.suo
*.user
*.aps
*.bsc
*.dsw
*.ncb
*.opensdf
*.sdf
*.bak
*.obj/
*.exe
*.dll
*.lib
*.bin/
*.pdb
*.ilk
*.log
*.tlog
*.vcxproj.filters
*.sln.docstates

build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store 