.vs/
*.suo
*.user
*.aps
*.bsc
*.dsw
*.ncb
*.opensdf
*.sdf
*.bak
*.pdb
*.ilk
*.log
*.tlog
*.vcxproj.filters
*.sln.docstates

bin/
obj/
*.exe
*.dll
*.lib

node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.yarn/
.vite/

.DS_Store
Thumbs.db
